.certificates-section {
    color: var(--color-info-light);
    width: 100%;
    padding: 0 60px;
    margin-top: 30px;
    overflow: hidden;
  }
  .certificates-title {
    margin-bottom: 30px;
    text-align: center;
  }
  .certificates-title h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .certificates-title h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .certificates-row {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
  }
  .certificate {
    margin: 15px;
    width: calc(33% - 30px);
    background: var(--color-card2);
    border: 1px solid rgb(255 255 255 / 0.1);
    border-radius: 17px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  .certificate:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }
  .certificate-img {
    margin-bottom: 15px;
    text-align: center; 
  }
  .cert-img {
    width: 80%;
    max-height: 150px;
    height: auto;
    border-radius: 25px;
  }
  .cert-details h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: 700;
  }

.certificates-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .certificate {
    margin: 15px;
    width: calc(33% - 30px);
    background: var(--color-card2);
    border: 1px solid rgb(255 255 255 / 0.1);
    border-radius: 17px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 0.8s ease forwards; 
  }
  
  .certificate:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1; 
      transform: translateY(0); 
    }
  }
  
  @media only screen and (max-width: 768px) {
    .certificate {
      width: calc(50% - 30px);
    }
  }
  
  @media only screen and (max-width: 480px) {
    .certificate {
      width: calc(100% - 30px);
    }
    .cert-img {
      width: 100%;
    }
  }
  